@import "mocha.css";

* {
font-family: JetBrainsMono NFM Regular;
    font-size: 10px;
    min-height: 0;
    font-weight: bold;
}

window#waybar {
    background: transparent;
    background-color: @base;
    color: @overlay0;
    transition-property: background-color;
    transition-duration: 0.1s;
}

#window {
    margin: 0px;
    padding-left: 0px;
    padding-right: 0px;
    color: @mauve;
}

button {
    box-shadow: inset 0 -3px transparent;
    border: none;
    border-radius: 0;
}

button:hover {
    background: inherit;
    color: @pink;
}

#workspaces button {
    padding: 1px 1px;
}

#workspaces button.focused {
    color: @teal;
}

#workspaces button.active {
    color: @pink;
}

#workspaces button.urgent {
    background-color: @maroon;
}

#tray {
    margin: 5px;
}

#pulseaudio,
#clock {
    color: @mauve;
    margin: 10px;
}

#clock.date {
    color: @mauve;
}

#pulseaudio {
    color: @mauve;
    margin: 5px;
}

#network {
    color: @mauve;
    margin: 5px;
}

#cpu {
    color: @mauve;
    margin: 5px;
}

#memory {
    color: @mauve;
    margin: 5px;
}
#battery {
    color: @mauve;
    margin: 5px;
}

#language {
  color: @mauve;
  margin: 5px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 5px;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 5px;
}
